<br>
<br>
<h1>Stupid coaching ! </h1>
<p>What do you want to ask to your cach?</p>
<form action="/answer">
  <input type="text" name="question" placeholder="What do you want?">
  <input type="submit" value="ask!">
</form>
